@model ElevateWorkForce.Models.JobCategory

@{
    ViewData["Title"] = "Edit";
}

<div class="jobtype-container">
    <div class="jobtype-header">
        <h2>Edit Job Category</h2>
    </div>

    <form asp-action="Edit" class="jobtype-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="jobtype-actions">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
